body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
#featured-property p{
  position: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}
#featured-property figure {
  position: center;
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right:  10px;
  background-color: blanchedalmond;
}
figcaption {
  font-size: 10px;
}
#details div {
  text-align: center;
  position: center;
  float: right;
  width: 25%;
  background-color: red;
}
